.person-item {
  cursor: pointer;
  max-width: 186px;
  width: 100%;
  height: 208px;
  display: flex;
  flex-direction: column;
  padding: 12px;
  border-radius: 8px;
  box-sizing: border-box;

  a {
    text-decoration: none;
  }
  
  &:hover {
    background-color: var(--card-hover);
  }

  &__name {
    margin: 0;
    font-size: 14px;
    line-height: 120%;
    font-weight: 600;
    color: var(--profile-text-color);
    display: -webkit-box;
    text-overflow: ellipsis;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
  }
  &__role {
    margin: 0;
    font-size: 12px;
    line-height: 1;
    color: #858585;
    height: 24px;
  }
  &__profession {
    margin: 0;
    margin-top: 4px;
    font-size: 12px;
    line-height: 1;
    color: #858585;
  }
  &__photo {
    margin-top: 2px;
    object-fit: cover;
    width: 80px;
    height: 126px;
  }
}