.profile {
  display: flex;
  position: relative;
  gap: 0 20px;
  padding: 48px;
  padding-bottom: 56px;
  max-height: 208px;
  box-sizing: border-box;
  border-radius: 24px;
  background-color: var(--profile-container-bg);
  box-shadow: var(--profile-container-shadow);

  &__avatar-form {
    display: flex;
    flex-direction: column;
    height: 119px;
    row-gap: 4px;
  }

  label {
    position: relative;
    display: flex;
    cursor: pointer;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    overflow: hidden;
    box-sizing: border-box;
    border: var(--profile-avatar-border);

    img {
      height: 100px;
      width: 100px;
      object-fit: fill;
      position: absolute;
      right: -1px;
      top: 0;
    }
  }
  &__avatar {
    display: none;
  }
  &__button {
    color: #1e7e1e;
    padding: 0;
    cursor: pointer;
    font-size: 11px;
    line-height: 12px;
    font-weight: 500;
    background-color: transparent;
    border: none;
    transition: color .5s;
    text-decoration: underline;

    &:disabled {
      cursor: default;
      opacity: .5;
      text-decoration: none;
      color: var(--profile-text-color);
    }
  }
  &__form {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }
  &__field {
    cursor: default;
    margin: 0;
    padding: 0;
    color: var(--profile-text-color);
    background-color: transparent;
    font-size: 18px;
    line-height: 100%;
    width: 100%;
    border: none;

    &:focus {
      outline: none;
    }

    &_editable {
      font-size: 16px;
      cursor: text;
      border-bottom: 1px solid #6b6b6b;
      width: max-content;
      &:focus {
        border-color: #FFFFFF;
      }
    }
  }
}

.profile .button__type_logout {
  position: absolute;
  bottom: 44px;
  right: 36px;
}

.cover {
  position: absolute;
  display: flex;
  top: -1px;
  right: -1px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: var(--avatar-cover);
  opacity: 0;
  transition: all .35s;
}

.profile label:hover .cover {
  opacity: 1;
}

@media (max-width: 600px) {
  .cover {
    display: none;
  }
}