.tags {
  margin: 0;
  margin-top: 40px;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: center;
  column-gap: 12px;

  &__item {
      
    button {
      padding: 0;
      background-color: transparent;
      border-style: solid;
      border-width: 1px;
      border-color: var(--tag-color);
      border-radius: 27px;
      color: var(--tag-color);
      cursor: pointer;
      font-size: 18px;
      font-weight: 500;
      line-height: 20px;
      padding: 4px 12px;
      transition: color .3s, border-color .3s;

      &:hover {
        border-color: var(--tag-hover-color);
        color: var(--tag-hover-color);
      }

      &:focus {
        border-color: var(--tag-hover-color);
        color: var(--tag-hover-color);
      }
    }

    &_active button {
      border-color: var(--tag-hover-color);
      color: var(--tag-hover-color);
    }
  }
}

@media (max-width: 600px) {
  .tags {
    overflow-x: auto;
    justify-content: start;
    max-width: 340px;
    width: 100%;
    margin: 40px auto 0;
    padding-bottom: 12px;
  }
}