.similar {

  &-item {
    width: 100%;
    row-gap: 4px;
    text-decoration: none;
    padding: 8px;
    box-sizing: border-box;
    border-radius: 8px;

    &:hover {
      background-color: var(--card-hover);
    }
    &:focus-visible {
      border: none;
      outline: none;
    }

    a {
      text-decoration: none;
    }
    p {
      display: -webkit-box; 
      text-overflow: ellipsis;
      overflow: hidden;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
      margin-bottom: 8px;
      max-width: 140px;
      width: 100%;

      &:hover {
        color: #bea100;
      }
    }
  }
  &-title {
    margin: 0;
    font-size: 14px;
    line-height: 100%;
    font-weight: 500;
    height: 28px;
    color: var(--profile-color);

    &::selection {
      background-color: transparent;
    }
  }
  &-poster {
    width: 140px;
    height: 210px;
    object-fit: fill;

    &::selection {
      background-color: transparent;
    }
  }
}

.similar-item.swiper-slide {
  display: flex;
  flex-direction: column;
  align-items: center;
}