.film {
  margin-top: 80px;

  &__title {
    margin: 0;
    font-size: 58px;
    line-height: 64px;
    font-weight: 600;
    word-break: break-all;
    color: #FFFFFF;
    span {
      word-break: keep-all;
    }
  }
  &__genres-list {
    list-style: none;
    padding: 0;
    margin: 16px 0 4px;
    display: flex;
    gap: 12px;
    max-width: 100%;
    overflow-x: scroll;
    padding-bottom: 12px;
  }
  &__genres-item {
    cursor: pointer;
    font-size: 24px;
    line-height: 28px;
    font-weight: 500;
    padding: 8px;
    border-radius: 23px;
    border: 1px solid #FFFFFF;
    color: #FFFFFF;
    transition: color .3s, border-color .3s;

    &:hover {
      border-color: #fff5a1;
      color: #fff5a1;
    }
  }
  &__heading {
    display: flex;
    column-gap: 16px;
  }
  &__main {
    display: flex;
    column-gap: 28px;
  }
  &__image {
    width: 400px;
    height: 534px;
    flex-shrink: 0;
    object-fit: cover;
  }
  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  &__description {
    margin: 0;
    font-size: 24px;
    line-height: 28px;
    font-weight: 500;
    color: #FFFFFF;
    max-width: 852px;
    width: 100%;
  }
  &__watch {
    display: flex;
    align-items: center;
    gap: 12px;

    p {
      margin: 0;
      font-size: 22px;
      line-height: 24px;
      font-weight: 500;
      color: #FFFFFF;
    }

    &-list {
      list-style: none;
      display: flex;
      gap: 12px;
      padding: 0;
      margin: 0;
    }
    &-item {
      width: 60px;
      height: 60px;
      border-radius: 50%;
      transition: box-shadow .5s;

      &:hover {
        box-shadow: 0px 0px 14px 0px rgba(255,255,255,0.75);
      }

      img {
        width: 60px;
        height: 60px;
        border-radius: 50%;
      }
    }
  }
  &__rating {
    margin: 0;
    padding: 0 12px;
    border-radius: 20px;
    font-size: 36px;
    font-weight: 600;
    line-height: 64px;
    color: #FFFFFF;
    max-height: 64px;

    &_bad {
      background-color: #7c3131;
    }
    &_average {
      background-color: #bfbf4b;
    }
    &_good {
      background-color: #119011;
    }
  }
  &__persons {
    margin: 0;
    margin-top: 80px;
    padding: 0;
    display: flex;
    list-style: none;
    gap: 4px;
  }
}

@media (max-width: 1280px) {
  .film__image {
    width: 40%;
    height: fit-content;
  }
  .film__description {
    font-size: 18px;
    line-height: 22px;
  }
}
@media (max-width: 768px) {
  .film {
    margin-top: 40px;
  }
  .film__main {
    column-gap: 16px;
  }
  .film__heading {
    align-items: center;
  }
  .film__image {
    width: 40%;
    height: fit-content;
  }
  .film__content {
    max-width: calc(60% - 16px);
  }
  .film__description {
    font-size: 18px;
    line-height: 22px;
  }
  .film__watch {
    flex-direction: column;
    align-items: baseline;
  }
  .film__title {
    font-size: 42px;
    line-height: 46px;
  }
  .film__rating {
    font-size: 24px;
    line-height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .film__genres-list {
    margin-bottom: 16px;
  }
  .film__genres-item {
    font-size: 20px;
    line-height: 24px;
  }
  .film__watch p {
    font-size: 18px;
  }
  .film__watch-item,
  .film__watch-item img {
    width: 48px;
    height: 48px;
  }
  .film__watch-item:hover {
    box-shadow: unset;
  }
  .film__additional {
    max-width: 100%;
    overflow-x: scroll;
  }
  .film__persons {
    margin-top: 40px;
  }
}
@media (max-width: 600px) {
  .film__main {
    flex-direction: column;
  }
  .film__image {
    width: 100%;
  }
  .film__rating {
    font-size: 36px;
    line-height: 64px;
  }
  .film__content {
    max-width: 100%;
    margin-top: 24px;
  }
  .film__watch {
    margin-top: 24px;
  }
  .film__title {
    font-size: 28px;
    line-height: 32px;
  }
  .film__watch-list {
    max-width: 100%;
    overflow-x: scroll;
    padding-bottom: 8px;
  }
}