.film {
  margin-top: 40px;

  &__title {
    margin: 0;
    font-size: 58px;
    line-height: 64px;
    font-weight: 600;
    word-break: break-all;
    color: var(--profile-text-color);
    span {
      word-break: keep-all;
    }
  }
  &__genres-list {
    list-style: none;
    padding: 0;
    margin: 16px 0 4px;
    display: flex;
    gap: 12px;
    max-width: 100%;
  }
  &__genres-item {
    cursor: pointer;
    font-size: 24px;
    line-height: 28px;
    font-weight: 500;
    padding: 8px;
    border-radius: 23px;
    border-width: 1px;
    border-style: solid;
    border-color: var(--tag-color);
    color: var(--tag-color);
    transition: color .3s, border-color .3s;

    &:hover {
      border-color: var(--tag-hover-color);
      color: var(--tag-hover-color);
    }
  }
  &__heading {
    display: flex;
    column-gap: 16px;
  }
  &__main {
    display: flex;
    column-gap: 28px;
    margin-top: 28px;
  }
  &__image {
    width: 400px;
    height: 534px;
    flex-shrink: 0;
    object-fit: cover;
    box-shadow: var(--film-image-shadow); 
  }
  &__content {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    max-width: calc(60% - 28px);
  }
  &__controls {
    height: 40px;
    display: flex;
    column-gap: 8px;
  }
  &__button {
    cursor: pointer;
    padding: 0;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid transparent;
    background-color: var(--btn-bg);
    transition: box-shadow .35s;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
      border: var(--btn-border);
      box-shadow: 0 0 2px 1px rgba(255, 240, 163, 0.4);
    }

    &_active {
      border: var(--btn-border);
      box-shadow: 0 0 2px 1px rgba(255, 240, 163, 0.4);
    }
  }
  &__description {
    margin: 0;
    font-size: 24px;
    line-height: 28px;
    font-weight: 500;
    color: var(--profile-text-color);
    max-width: 852px;
    width: 100%;
  }
  &__watch {
    display: flex;
    align-items: flex-start;
    gap: 12px;
    margin-top: auto;

    p {
      margin: 0;
      margin-top: 8px;
      font-size: 22px;
      line-height: 24px;
      font-weight: 500;
      color: var(--profile-text-color);
    }

    &-list {
      list-style: none;
      display: flex;
      gap: 12px;
      padding: 0;
      margin: 0;
      flex-wrap: wrap;
    }
    &-item {
      width: 60px;
      height: 60px;
      border-radius: 50%;
      transition: box-shadow .5s;

      &:hover {
        box-shadow: 0px 0px 14px 0px rgba(255,255,255,0.75);
      }

      img {
        width: 60px;
        height: 60px;
        border-radius: 50%;
      }
    }
  }
  &__rating {
    margin: 0;
    padding: 0 12px;
    border-radius: 20px;
    font-size: 36px;
    font-weight: 600;
    line-height: 64px;
    color: #FFFFFF;
    max-height: 64px;

    &_bad {
      background-color: #7c3131;
    }
    &_average {
      background-color: #bfbf4b;
    }
    &_good {
      background-color: #119011;
    }
  }
  &__similar {
    margin-top: 40px;
  }
  &__persons {
    margin: 0;
    margin-top: 40px;
    padding: 0;
    display: flex;
    list-style: none;
    gap: 4px;
  }
}

@media (max-width: 1280px) {
  .film__image {
    width: 40%;
    height: fit-content;
  }
  .film__description {
    font-size: 18px;
    line-height: 22px;
  }
}
@media (max-width: 768px) {
  .film {
    margin-top: 12px;
  }
  .film__main {
    column-gap: 16px;
    margin-top: 16px;
  }
  .film__heading {
    align-items: center;
  }
  .film__image {
    width: 40%;
    height: fit-content;
  }
  .film__content {
    max-width: calc(60% - 16px);
  }
  .film__description {
    font-size: 18px;
    line-height: 22px;
  }
  .film__watch {
    flex-direction: column;
    align-items: baseline;
  }
  .film__title {
    font-size: 42px;
    line-height: 46px;
  }
  .film__rating {
    font-size: 24px;
    line-height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .film__genres-list {
    margin-bottom: 16px;
    max-width: 100%;
    width: 100%;
    overflow-x: auto;
    gap: 8px;
  }
  .film__genres-item {
    font-size: 16px;
    line-height: 18px;
    border-radius: 18px;
  }
  .film__watch p {
    font-size: 18px;
  }
  .film__watch-item,
  .film__watch-item img {
    width: 48px;
    height: 48px;
  }
  .film__watch-item:hover {
    box-shadow: unset;
  }
  .film__additional {
    max-width: 100%;
    overflow-x: auto;
  }
  .film__persons {
    margin-top: 40px;
  }
}
@media (max-width: 600px) {
  .film__main {
    flex-direction: column;
    margin-top: 8px;
  }
  .film__genres-list {
    margin-bottom: 8px;
  }
  .film__image {
    width: 100%;
    border-radius: 8px;
  }
  .film__rating {
    font-size: 32px;
    line-height: 48px;
  }
  .film__content {
    max-width: 100%;
    margin-top: 24px;
  }
  .film__watch {
    margin-top: 24px;
  }
  .film__title {
    font-size: 28px;
    line-height: 32px;
  }
  .film__watch-list {
    max-width: 100%;
    overflow-x: auto;
    padding-bottom: 8px;
  }
}

.film__similar .slick-track {
  margin-left: unset;
  margin-right: unset;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  display: flex !important;
}