.header {
  max-width: 100%;
  margin: 0 auto;
  padding: 16px 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #232323;
  box-shadow: 0px 0px 24px 1px rgba(0, 0, 0, 0.28);
  border-bottom: 1px solid rgba(255, 246, 163, 0.06);

  &_scroll-fix {
    padding-right: 52px;
  }

  &__logo {
    font-family: 'Mulish', sans-serif;
    font-weight: 800;
    display: flex;
    align-items: center;
    column-gap: 12px;
    text-decoration: none;
    color: #ffffff;
    font-size: 20px;
    line-height: 100%;
    transition: color .5s, box-shadow .5s;
    padding: 8px 16px;
    border-radius: 12px;
    box-shadow: 0 0 12px 1px #1f1f1f;

    svg {
      position: relative;
      bottom: 4px;
      left: 0;
      path {
        transition: fill .5s;
      }
    }

    &:hover {
      color: #fff5a1;
    }
    &:hover svg path {
      fill: #fff5a1;
    }
  }
}

.header__logo.active {
  color: #fff5a1;
  svg path {
    fill: #fff5a1;
  }
}

@media (max-width: 992px) {
  .header {
    padding: 24px;
  }
}
@media (max-width: 768px) {
  .header {
    padding: 20px;
  }
}
@media (max-width: 600px) {
  .header__logo {
    column-gap: 4px;
    font-size: 14px;
    font-weight: 800;
    margin-top: 4px;
  }
  .header__logo svg {
    width: 24px;
    height: 24px;
  }
}