
@font-face {
  font-family: 'OpenSans';
  font-style: normal;
  font-weight: 700;
  src: url("./assets/fonts/OpenSans-Bold.woff2") format("woff2");
}

@font-face {
  font-family: 'OpenSans';
  font-style: normal;
  font-weight: 400;
  src: url("./assets/fonts/OpenSans-Regular.woff2") format("woff2");
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 200;
  src: url("./assets/fonts/Montserrat-ExtraLight.ttf") format("truetype");
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: url("./assets/fonts/Montserrat-Regular.ttf") format("truetype");
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  src: url("./assets/fonts/Montserrat-Medium.ttf") format("truetype");
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  src: url("./assets/fonts/Montserrat-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: 'Geologica';
  font-style: normal;
  font-weight: 600;
  src: url("./assets/fonts/Geologica-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 300;
  src: url("./assets/fonts/Mulish-Light.ttf") format("truetype");
}

@font-face {
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 400;
  src: url("./assets/fonts/Mulish-Regular.ttf") format("truetype");
}

@font-face {
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 500;
  src: url("./assets/fonts/Mulish-Medium.ttf") format("truetype");
}

@font-face {
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 600;
  src: url("./assets/fonts/Mulish-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 700;
  src: url("./assets/fonts/Mulish-Bold.ttf") format("truetype");
}

@font-face {
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 800;
  src: url("./assets/fonts/Mulish-ExtraBold.ttf") format("truetype");
}

:root {
  --main-bg-color: #2e2e2e;
  --accent-bg-color: #232526;
  --header-bg-color: #232323;
  --header-shadow: 0 0 24px 1px rgba(0, 0, 0, .28);
  --active-color: #fff5a1;
  --nav-active-color: #4f4f4f;
  --avatar-bg-color: #e5e5e5;
  --search-bg: #5e5b5b;
  --search-focus: 0 0 16px 4px #212121;
  --profile-bg: #696969;
  --profile-hover-bg: #696969;
  --profile-color: #ffffff;
  --profile-hover-color: #fff5a1;
  --profile-border: 1px solid transparent;
  --profile-container-bg: transparent;
  --profile-container-shadow: 0 4px 24px 1px rgba(0, 0, 0, .28);
  --profile-text-color: #ffffff;
  --profile-tag-color: #ffffff;
  --profile-avatar-border: 1px solid #ffffff;

  --card-bg: transparent;
  --card-tag-color: #ffffff;
  --card-tag-bg: #353535;
  --card-hover: rgb(255 255 255 / 2%);
  --card-shadow: 0 0 31px -6px rgba(0, 0, 0, .5);
  --viewed-color: #ffffff;
  --viewed-hover-color: #ffda6a;
  --viewed-active-color: #edb5b5;
  --card-movie-length: #fff9c6;

  --logo-color: #fff5a1;
  --logo-bg-color: transparent;

  --tag-color: #c1c1c1;
  --tag-hover-color: #fff5a1;

  --tough-shadow: box-shadow: 0 0 12px 1px #1f1f1f;

  --scroll-button-bg: rgb(35, 35, 35, .8);
  --scroll-button-shadow: 0px 0px 24px 1px rgba(0, 0, 0, .8);

  --scrollbar-main-color: #232526;
  --scrollbar-secondary-color: #2e2e2e;

  --btn-bg: #3e3e3e;
  --btn-border: 1px solid #5f5f5f;
  --btn-hover-bg: #121212;
  --btn-disabled-bg: #414141;
  --btn-color: #000000;

  --mobile-length-bg: rgba(0, 0, 0, .55);

  --avatar-cover: url("./assets/images/edit-avatar-icon.svg") center / 40px 40px no-repeat, rgba(255, 255, 255, 0.7);
  --switch-tag-bg: #232323;
  --switch-tag-disabled-color: #515151;
  --switch-tag-shadow: inset 0 0 8px 4px rgba(0, 0, 0, .4);
}

[data-theme='light'] {
  --main-bg-color: #f2f2f2;
  --accent-bg-color: #bebebe;
  --header-bg-color: #ffffff;
  --header-shadow:  unset;

  --active-color: #fff5be;
  --nav-active-color: #4f4f4f;
  --avatar-bg-color: #e5e5e5;
  --search-bg: #ffffff;
  --search-focus: 0 0 16px 4px #fff9e9;
  --profile-bg: #ffffff;
  --profile-hover-bg: #2e2e2e;
  --profile-color: #2e2e2e;
  --profile-hover-color: #ffffff;
  --profile-border: 1px solid #4f4f4f;
  --profile-container-bg: #e5e5e5;
  --profile-container-shadow: unset;
  --profile-text-color: #2e2e2e;
  --profile-tag-color: #2e2e2e;
  --profile-avatar-border: 1px solid #b2b2b2;

  --card-bg: #fffef7;
  --card-tag-color: #928459;
  --card-tag-bg: #ffffff;
  --card-hover: rgb(255 251 219);
  --card-shadow: unset;
  --viewed-color: #737373;
  --viewed-hover-color: #000000;
  --viewed-active-color: red;
  --card-movie-length: #000000;

  --logo-color: #000000;
  --logo-bg-color: #f6cc29;

  --tag-color: #ebbb00;
  --tag-hover-color: #000000;

  --tough-shadow: none;

  --scroll-button-bg: rgb(255, 218, 106, .8);
  --scroll-button-shadow: unset;

  --btn-bg: #ffffff;
  --btn-border: 1px solid #ffdb4a;
  --btn-hover-bg: #ffdb4a;
  --btn-disabled-bg: #c4c4c4;
  --btn-color: #000000;

  --mobile-length-bg: rgb(255 255 255 / 55%);

  --avatar-cover: url("./assets/images/edit-avatar-icon.svg") center / 40px 40px no-repeat, rgba(100, 100, 100, 0.7);
  --switch-tag-bg: #cbcbcb;
  --switch-tag-disabled-color: #dedede;
  --switch-tag-shadow: inset 0 0px 10px 4px rgba(0,0,0,.16);
}

[data-theme='default'] {
  --main-bg-color: #2e2e2e;
  --accent-bg-color: #232526;
  --header-bg-color: #232323;
  --header-shadow: 0 0 24px 1px rgba(0, 0, 0, .28);

  --active-color: #fff5a1;
  --nav-active-color: #4f4f4f;
  --avatar-bg-color: #2e2e2e;
  --search-bg: #5e5b5b;
  --search-focus: 0 0 16px 4px #212121;
  --profile-bg: #696969;
  --profile-hover-bg: #696969;
  --profile-color: #ffffff;
  --profile-hover-color: #fff5a1;
  --profile-border: 1px solid transparent;
  --profile-container-bg: transparent;
  --profile-container-shadow: 0 4px 24px 1px rgba(0, 0, 0, .28);
  --profile-text-color: #ffffff;
  --profile-tag-color: #ffffff;
  --profile-avatar-border: 1px solid #5b5b5b;

  --card-bg: transparent;
  --card-tag-color: #ffffff;
  --card-tag-bg: #353535;
  --card-hover: rgb(255 255 255 / 2%);
  --card-shadow: 0 0 31px -6px rgba(0, 0, 0, .5);
  --viewed-color: #ffffff;
  --viewed-hover-color: #ffda6a;
  --viewed-active-color: #edb5b5;
  --card-movie-length: #fff9c6;

  --logo-color: #fff5a1;
  --logo-bg-color: transparent;

  --tag-color: #c1c1c1;
  --tag-hover-color: #fff5a1;

  --tough-shadow: 0 0 12px 1px #1f1f1f;

  --scroll-button-bg: rgb(35, 35, 35, .8);
  --scroll-button-shadow: 0px 0px 24px 1px rgba(0, 0, 0, .8);

  --btn-bg: #3e3e3e;
  --btn-border: 1px solid #5f5f5f;
  --btn-hover-bg: #121212;
  --btn-disabled-bg: #414141;
  --btn-color: #000000;

  --mobile-length-bg: rgba(0, 0, 0, .55);

  --avatar-cover: url("./assets/images/edit-avatar-icon.svg") center / 40px 40px no-repeat, rgba(255, 255, 255, 0.7);
  --switch-tag-bg: #232323;
  --switch-tag-disabled-color: #515151;
  --switch-tag-shadow: inset 0 0 8px 4px rgba(0, 0, 0, .4);
}

html,
body {
  font-family: 'OpenSans', sans-serif;
  background-color: var(--main-bg-color);
}

.container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.page {
  min-height: calc(100vh - 98px);
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;

  &__title {
    margin: 0;
    margin-top: 24px;
    font-size: 36px;
    line-height: 40px;
    font-weight: 600;
    color: #ffffff;
  }
  &__subtitle {
    margin: 0;
    font-size: 24px;
    line-height: 28px;
    font-weight: 600;
    color: var(--profile-text-color);
  }
  &__heading {
    display: flex;
    gap: 40px;
    margin-top: 60px;
  }
  &__container {
    border-radius: 24px;
    background-color: var(--profile-container-bg);
    box-shadow: var(--profile-container-shadow);
    display: flex;
    flex-direction: column;
    padding: 48px;
    padding-bottom: 24px;
  }
  &__stat-value {
    text-align: end;
    margin: 0;
    font-size: 24px;
    line-height: 100%;
    font-weight: 500;
    color: #9f9f9f;

    img {
      position: relative;
      bottom: -2px;
      width: 24px;
      height: 24px;
      margin-left: 8px;
    }
  }
  &__button {
    cursor: pointer;
    width: 100%;
    max-width: fit-content;
    height: 20px;
    margin: 0;
    transition: opacity .3s;

    &:hover {
      opacity: .65;
    }
  }
  &__row {
    display: flex;
    column-gap: 12px;
    margin-bottom: 12px;
  }
  &__list {
    margin: 0;
    padding: 0;
    margin-top: 16px;
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    list-style: none; 
  }
  &__list-item {
    padding: 4px 8px;
    color: var(--profile-tag-color);
    border-radius: 14px;
    border: 1px solid #a5a5a5;
    transition: background-color .5s, color .5s;

    // &:hover {
    //   cursor: pointer;
    //   background-color: #FFFFFF;
    //   color: #232526;
    // }
  }
  &__notice {
    margin: 0;
    margin-top: 180px;
    text-align: center;
    font-size: 20px;
    line-height: 100%;
    font-weight: 500;
    color: #585858;
  }
}

.nav {
  display: flex;
  justify-content: center;
  width: 100%;

  &__list {
    margin: 0;
    padding: 0;
    display: flex;
    gap: 0 40px;
    list-style: none;
  }
  &__item {
    font-family: 'Geologica', sans-serif;
    cursor: pointer;
    user-select: none;
    font-size: 22px;
    line-height: 26px;
    position: relative;

    span {
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      right: -16px;
      top: -8px;
      font-size: 12px;
      line-height: 12px;
      font-weight: 600;
      padding: 6px;
      background-color: #f6cc29;
      color: #000000;
      border-radius: 50%;
      width: 12px;
      height: 12px;
    }
  }
  &__link {
    font-family: 'Mulish', sans-serif;
    font-weight: 600;
    color: #c1c1c1;
    text-decoration: none;

    &:hover {
      color: var(--nav-active-color);
    }
  }
  &__profile {
    font-family: 'Mulish', sans-serif;
    font-weight: 700;
    display: flex;
    align-items: center;
    column-gap: 12px;
    margin-left: auto;
    color: var(--profile-color);
    background-color: var(--profile-bg);
    border: var(--profile-border);
    border-radius: 24px;
    text-decoration: none;
    cursor: pointer;
    user-select: none;
    font-size: 18px;
    line-height: 20px;
    padding: 4px 6px;
    box-sizing: border-box;
    transition: border-color .5s;
    
    &_button {
      padding: 8px 12px;
      border: var(--btn-border);
      border-radius: 19px;
      transition: color .35s, background-color .35s, border-color .35s;

      &:hover {
        color: var(--profile-hover-color);
        background-color: var(--profile-hover-bg);
        border-color: var(--profile-hover-color);
      }
    }

    &:hover {
      border: 1px solid rgba(255, 245, 161, 0.4);
      box-shadow: 0 0 12px 1px rgba(255, 245, 161, 0.2);
    }
  }
  &__mobile-profile {
    display: block;
    width: 40px;
    height: 40px;
    box-sizing: border-box;
    cursor: pointer;
    background-color: var(--avatar-bg-color);
    border-radius: 50%;

    img {
      width: 40px;
      height: 40px;
      border-radius: 50%;
    }
  }

  &__status {
    &_active {
      color: var(--nav-active-color);
      text-decoration: underline;
    }
  }

  &__avatar {
    border: 1px solid #ababab;
    border-radius: 50%;
    object-fit: contain;
    width: 36px;
    height: 36px;
  }
}

.logo {
  width: 44px;
  height: 44px;
}

@media (max-width: 1400px) {
  .page {
    padding: 0 80px;
    width: unset;
  }
}
@media (max-width: 1280px) {
  .page {
    padding: 0 60px;
  }
}
@media (max-width: 992px) {
  .page {
    padding: 0 40px;
  }
}
@media (max-width: 768px) {
  .page {
    padding: 0 20px;
  }
  .page__heading {
    margin-top: 0;
    padding-top: 36px;
    flex-direction: column;
  }
  .nav__list {
    gap: 0 20px;
    margin-top: 4px;
  }
  .nav__item {
    font-size: 16px;
    line-height: 18px;
  }
  .nav__profile {
    font-size: 14px;
    column-gap: 4px;
  }
  .nav__avatar {
    width: 28px;
    height: 28px;
  }
}
@media (max-width: 600px) {
  .nav__link {
    font-size: 16px;
    line-height: 18px;
  }
  .nav__link img {
    width: 36px;
    height: 36px;
  }
  .nav__item {
    align-self: center;
  }
  .nav__item span {
    font-size: 12px;
    padding: 4px;
    top: -2px;
    right: -14px;
  }
  .page__container {
    padding: 24px;
  }
  .page__subtitle {
    font-size: 16px;
    line-height: 18px;
    align-self: end;

    &:last-of-type {
      align-self: baseline;
      margin-top: 12px;
    }
  }
  .page__stat-value {
    font-size: 16px;
    line-height: 18px;
    align-self: baseline;
  }
  .page__row {
    margin-bottom: 0;
  }
  .page__list {
    margin-top: 12px;
  }
  .profile {
    gap: 0 12px;
    padding: 24px;
  }
}
