@font-face {
  font-family: 'OpenSans';
  font-style: normal;
  font-weight: 700;
  src: url("./assets/fonts/OpenSans-Bold.woff2") format("woff2");
}

@font-face {
  font-family: 'OpenSans';
  font-style: normal;
  font-weight: 400;
  src: url("./assets/fonts/OpenSans-Regular.woff2") format("woff2");
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 200;
  src: url("./assets/fonts/Montserrat-ExtraLight.ttf") format("truetype");
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: url("./assets/fonts/Montserrat-Regular.ttf") format("truetype");
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  src: url("./assets/fonts/Montserrat-Medium.ttf") format("truetype");
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  src: url("./assets/fonts/Montserrat-SemiBold.ttf") format("truetype");
}

:root {
  --main-bg-color: #2e2e2e;
  --accent-bg-color: #232526;

  --scrollbar-main-color: #232526;
  --scrollbar-secondary-color: #2e2e2e;
}

html,
body {
  font-family: 'OpenSans', sans-serif;
  background-color: var(--main-bg-color);
}

.container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.page {
  min-height: calc(100vh - 98px);
  background-color: var(--main-bg-color);
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;

  &__title {
    margin: 0;
    padding-top: 24px;
    font-size: 36px;
    line-height: 40px;
    font-weight: 600;
    color: #ffffff;
  }
}

.nav {
  display: flex;
  justify-content: center;
  width: 100%;

  &__list {
    margin: 0;
    padding: 0;
    display: flex;
    gap: 0 40px;
    list-style: none;
  }
  &__item {
    cursor: pointer;
    user-select: none;
    font-size: 22px;
    line-height: 26px;
    position: relative;

    a {
      color: #FFFFFF;
      text-decoration: none;
    }

    span {
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      right: -12px;
      top: -4px;
      font-size: 12px;
      line-height: 12px;
      padding: 3px;
      background-color: red;
      border-radius: 50%;
      width: 12px;
      height: 12px;
    }
  }
  &__profile {
    margin-left: auto;
    color: #FFFFFF;
    text-decoration: none;
    cursor: pointer;
    user-select: none;
    font-size: 22px;
    line-height: 26px;
  }
  &__mobile-profile {
    display: block;
    width: 40px;
    height: 40px;
    box-sizing: border-box;
    cursor: pointer;
    background-color: #2e2e2e;
    border-radius: 50%;

    img {
      width: 30px;
      height: 30px;
      padding: 5px;
      border-radius: 50%;
    }
  }
}

@media (max-width: 1280px) {
  .page {
    padding: 0 60px;
    width: unset;
  }
}
@media (max-width: 992px) {
  .page {
    padding: 0 40px;
  }
}
@media (max-width: 768px) {
  .page {
    padding: 0 20px;
  }
  .nav__list {
    gap: 0 20px;
  }
  .nav__item {
    font-size: 16px;
    line-height: 18px;
  }
}
