
@font-face {
  font-family: 'OpenSans';
  font-style: normal;
  font-weight: 700;
  src: url("./assets/fonts/OpenSans-Bold.woff2") format("woff2");
}

@font-face {
  font-family: 'OpenSans';
  font-style: normal;
  font-weight: 400;
  src: url("./assets/fonts/OpenSans-Regular.woff2") format("woff2");
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 200;
  src: url("./assets/fonts/Montserrat-ExtraLight.ttf") format("truetype");
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: url("./assets/fonts/Montserrat-Regular.ttf") format("truetype");
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  src: url("./assets/fonts/Montserrat-Medium.ttf") format("truetype");
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  src: url("./assets/fonts/Montserrat-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: 'Geologica';
  font-style: normal;
  font-weight: 600;
  src: url("./assets/fonts/Geologica-SemiBold.ttf") format("truetype");
}

:root {
  --main-bg-color: #2e2e2e;
  --accent-bg-color: #232526;

  --scrollbar-main-color: #232526;
  --scrollbar-secondary-color: #2e2e2e;
}

html,
body {
  font-family: 'OpenSans', sans-serif;
  background-color: var(--main-bg-color);
}

.container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.page {
  min-height: calc(100vh - 98px);
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;

  &__title {
    margin: 0;
    margin-top: 24px;
    font-size: 36px;
    line-height: 40px;
    font-weight: 600;
    color: #ffffff;
  }
  &__subtitle {
    margin: 0;
    font-size: 24px;
    line-height: 28px;
    font-weight: 600;
    color: #ffffff;
  }
  &__heading {
    display: flex;
    gap: 40px;
    margin-top: 60px;
  }
  &__container {
    border-radius: 24px;
    box-shadow: 0 4px 24px 1px rgba(0, 0, 0, .28);
    display: flex;
    flex-direction: column;
    padding: 48px;
    padding-bottom: 24px;
  }
  &__stat-value {
    text-align: end;
    margin: 0;
    margin-top: 4px;
    font-size: 36px;
    line-height: 100%;
    font-weight: 500;
    color: #9f9f9f;

    img {
      position: relative;
      bottom: -2px;
      width: 32px;
      height: 32px;
      margin-left: 8px;
    }
  }
  &__button {
    cursor: pointer;
    width: 100%;
    max-width: fit-content;
    height: 20px;
    margin: 0;
    transition: opacity .3s;

    &:hover {
      opacity: .65;
    }
  }
  &__list {
    margin: 0;
    padding: 0;
    margin-top: 16px;
    display: flex;
    gap: 8px;
    list-style: none;
  }
  &__list-item {
    padding: 4px 8px;
    color: #FFFFFF;
    border-radius: 14px;
    border: 1px solid #a5a5a5;
    transition: background-color .5s, color .5s;

    &:hover {
      cursor: pointer;
      background-color: #FFFFFF;
      color: #232526;
    }
  }
  &__notice {
    margin: 0;
    margin-top: 180px;
    text-align: center;
    font-size: 20px;
    line-height: 100%;
    font-weight: 500;
    color: #585858;
  }
}

.nav {
  display: flex;
  justify-content: center;
  width: 100%;

  &__list {
    margin: 0;
    padding: 0;
    display: flex;
    gap: 0 40px;
    list-style: none;
  }
  &__item {
    font-family: 'Geologica', sans-serif;
    cursor: pointer;
    user-select: none;
    font-size: 22px;
    line-height: 26px;
    position: relative;

    span {
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      right: -16px;
      top: -8px;
      font-size: 12px;
      line-height: 12px;
      font-weight: 600;
      padding: 6px;
      color: #FFFFFF;
      border-radius: 50%;
      width: 12px;
      height: 12px;
    }
  }
  &__link {
    color: #c1c1c1;
    text-decoration: none;

    &:hover {
      color: #fcff91;
    }
  }
  &__profile {
    font-family: 'Geologica', sans-serif;
    margin-left: auto;
    color: #FFFFFF;
    text-decoration: none;
    cursor: pointer;
    user-select: none;
    font-size: 22px;
    line-height: 26px;
  }
  &__mobile-profile {
    display: block;
    width: 40px;
    height: 40px;
    box-sizing: border-box;
    cursor: pointer;
    background-color: #2e2e2e;
    border-radius: 50%;

    img {
      width: 30px;
      height: 30px;
      padding: 5px;
      border-radius: 50%;
    }
  }

  &__status {
    &_active {
      color: #FFFFFF;
      text-decoration: underline;
    }
  }
}

@media (max-width: 1400px) {
  .page {
    padding: 0 80px;
    width: unset;
  }
}
@media (max-width: 1280px) {
  .page {
    padding: 0 60px;
  }
}
@media (max-width: 992px) {
  .page {
    padding: 0 40px;
  }
}
@media (max-width: 768px) {
  .page {
    padding: 0 20px;
  }
  .nav__list {
    gap: 0 20px;
  }
  .nav__item {
    font-size: 16px;
    line-height: 18px;
  }
}
