.person-page {
  &__name {
    color: var(--profile-text-color);
  }
  &__age {
    color: var(--profile-text-color);
  }
  &__place {
    color: var(--profile-text-color);
  }
  img {
    border-radius: 12px;
  }
}

@media (max-width: 768px) {
  .person-item__name {
    font-size: 12px;
  }
  .person-item__role {
    height: 20px;
    font-size: 10px;
  }
}