.auth {
  min-height: calc(100vh - 98px);
  display: flex;
  justify-content: center;
  align-items: center;

  &__form {
    box-shadow: 0px 0px 24px 1px rgba(0, 0, 0, 0.28);
  }
  label {
    user-select: none;
    margin-top: 16px;
    font-size: 13px;
    line-height: 15px;
    font-weight: 500;
    color: #FFFFFF;
  }
  input {
    font-size: 18px;
    line-height: 24px;
    font-weight: 600;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #4a4a4a;
    margin-top: 4px;
    caret-color: #FFFFFF;
    color: #FFFFFF;
    box-shadow: 0 12px 4px -4px rgb(0 0 0 / 10%);

    &:focus {
      outline: none;
    }
  }
  button {
    cursor: pointer;
    font-size: 14px;
    line-height: 16px;
    font-weight: 500;
    margin: 0;
    padding: 8px;
    border: none;
    border-radius: 12px;
    background-color: #FFFFFF;
    box-shadow: 0px 4px 24px 1px rgb(255 255 255 / 10%);
    color: #000000;
    transition: background-color 0.35s, box-shadow 0.35s, color 0.35s;

    &:hover {
      background-color: #161616;
      box-shadow: 0 4px 24px 1px hsl(0deg 0% 0% / 10%);
      color: #FFFFFF;
    }
  }
}