.auth {
  position: relative;
  min-height: calc(100vh - 98px);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: hidden;

  &__form {
    box-shadow: 0px 0px 24px 1px rgba(0, 0, 0, 0.28);
  }
  label {
    user-select: none;
    margin-top: 16px;
    font-size: 13px;
    line-height: 15px;
    font-weight: 500;
    color: var(--profile-text-color);
  }
  input {
    padding: 0;
    margin: 0;
    margin-top: 4px;
    font-size: 18px;
    line-height: 24px;
    font-weight: 600;
    background-color: transparent;
    border: 1px solid transparent;
    border-bottom: 1px solid #4a4a4a;
    caret-color: var(--profile-text-color);
    color: var(--profile-text-color);
    box-shadow: 0 12px 4px -4px rgb(0 0 0 / 10%);

    &:focus {
      outline: none;
    }

    // &:invalid {
    //   border-bottom: 1px solid #ff7676;
    // }
  }
  
}