.film-items {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 40px;
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: 120px;
}

.film-item {
  display: flex;
  flex-direction: column;

  max-height: 520px;
  min-height: 520px;

  cursor: pointer;
  padding: 24px;
  box-sizing: border-box;
  transition: background-color .3s;

  a {
    list-style: none;
    text-decoration: none;
  }

  &:hover {
    background-color: rgb(255 255 255 / 2%);
  }

  &__heading {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
  &__image {
    width: 146px;
    height: 220px;
  }
  &__ranks {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 8px;
  }
  &__name {
    margin: 0;
    margin-top: 12px;
    font-size: 24px;
    line-height: normal;
    color: #FFFFFF;
    display: -webkit-box; 
    text-overflow: ellipsis;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
  }
  &__description {
    margin: 8px -12px 0 -12px;
    padding: 12px;
    font-size: 16px;
    line-height: normal;
    color: #FFFFFF;
    height: 52px;
    border-radius: 8px;

    display: -webkit-box; 
    text-overflow: ellipsis;
    overflow: hidden;

    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;

    &_expand {
      &:hover {
        overflow: visible;
        text-overflow: unset;
        display: flex;
        background-color: rgb(255 255 255 / 90%);
        color: #000000;
        height: fit-content;

        z-index: 2;
      }
    }
    &_disabled {
      display: flex;
      align-items: center;
      color: #efbcbc;
    }
  }
  &__genres-list {
    height: 48px;
    list-style: none;
    margin-top: 8px;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 8px;

    z-index: 2;
  }
  &__genres-item {
    height: 20px;
    padding: 2px 8px;
    box-sizing: border-box;
    font-size: 12px;
    line-height: 14px;
    background-color: #323232;
    color: #FFFFFF;
    border: 1px solid #FFFFFF;
    border-radius: 12px;
  }
  &__length {
    margin: 0;
    margin-top: auto;
    color: #FFFFFF;
    font-size: 14px;
    line-height: 16px;
    font-weight: 600;
  }
  &__rating {
    margin: 0;
    padding: 0;
    font-size: 20px;
    line-height: 20px;
    font-weight: 600;

    &_bad {
      color: #7c3131;
    }
    &_average {
      color: #bfbf4b;
    }
    &_good {
      color: #119011;
    }
  }
  &__top {
    margin: 0;
    font-size: 14px;
    line-height: 14px;
    font-weight: 600;
    color: #454545;
  }
}