.film-items {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, 260px);
  gap: 32px;
  list-style: none;
  padding: 0;
  margin: 40px 0 80px;
}

.film-item {
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 0 16px 8px 16px;
  border-radius: 8px;
  box-sizing: border-box;
  transition: background-color .3s;
  box-shadow: var(--card-shadow);
  background-color: var(--card-bg);

  a {
    list-style: none;
    text-decoration: none;
  }

  &:hover {
    background-color: var(--card-hover);
  }

  &:hover .film-item__image {
    transform: scale(1.05);
  }

  &:hover .film-item__controls {
    opacity: 1;
    background-color: var(--card-hover);
    transform: translateY(24px);
  }

  &__heading {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    position: relative;
    top: 0;
    left: -16px;
    border-radius: 8px 8px 0 0;
    width: 260px;
    height: 390px;
    overflow: hidden;

    &:hover .film-item__name {
      transform: translateY(0);
    }
  }
  &__fav-btn {
    cursor: pointer;
    padding: 0;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    border: 1px solid transparent;
    background-color: var(--btn-bg);
    z-index: 1;
    transition: box-shadow .6s;
    display: flex;
    justify-content: center;
    align-items: center;

    img svg path {
      fill: white;
    }

    &:hover {
      border: var(--btn-border);
      box-shadow: 0 0 4px 1px rgba(255, 240, 163, 0.4);
    }

    &_active {
      border: var(--btn-border);
      box-shadow: 0 0 4px 1px rgba(255, 240, 163, 0.4);
    }
  }
  &__wish-btn {
    cursor: pointer;
    padding: 0;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    border: none;
    background-color: transparent;
    z-index: 1;
    transition: box-shadow .6s;
    display: flex;
    justify-content: center;
    align-items: center;

    img svg path {
      fill: white;
    }

    &:hover {
      border: 1px solid #498a49;
    }

    &_active {
      border: 1px solid #498a49;
    }
  }
  &__image {
    position: absolute;
    width: 260px;
    height: 390px;
    border-radius: 8px 8px 0 0;
    transition: transform .5s;
  }
  &__ranks {
    font-family: 'Montserrat', sans-serif;
    position: absolute;
    top: 8px;
    right: 8px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 8px;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 4px;
    display: flex;
    align-items: center;
    padding: 4px;
    width: 56px;
    box-shadow: 0 0 16px 0 hsla(0, 0%, 100%, .35);
  }
  &__name {
    font-family: sans-serif;
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 0;
    padding: 0;
    padding-left: 8px;
    width: 100%;
    box-sizing: border-box;
    font-size: 24px;
    height: fit-content;
    line-height: 28px;
    color: #FFFFFF;
    display: -webkit-box; 
    text-overflow: ellipsis;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    text-shadow: 0px 0px 3px rgba(255, 255, 255, 0.3);
    background-color: rgba(0, 0, 0, 0.7);
    transform: translateY(100%);
    transition: transform .3s;
  }
  &__discription-container {
    position: relative;
  }
  &__description {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    margin-top: 8px;
    font-size: 16px;
    line-height: normal;
    font-weight: 400;
    color: #FFFFFF;
    height: 60px;
    border-radius: 8px;

    display: -webkit-box; 
    text-overflow: ellipsis;
    overflow: hidden;

    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;

    &_expand {
      &:hover {
        position: absolute;
        top: -8px;
        left: -25%;
        overflow: visible;
        text-overflow: unset;
        display: flex;
        background-color: rgb(255 255 255 / 90%);
        color: #000000;
        height: fit-content;
        padding: 12px;
        box-sizing: border-box;
        width: 150%;

        z-index: 2;
      }
    }
    &_disabled {
      display: flex;
      align-items: center;
      color: #efbcbc;
    }
  }
  &__additional {
    display: flex;
  }
  &__year {
    margin: 0;
    position: absolute;
    top: 8px;
    left: 8px;
    padding: 3px 4px;
    border-radius: 4px;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    line-height: 14px;
    font-weight: 400;
    background-color: rgba(0, 0, 0, .6);
    color: #fff9c6;
    z-index: 1;
  }
  &__genres-list {
    height: 38px;
    list-style: none;
    margin-top: auto;
    padding: 0;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    column-gap: 2px;
  }
  &__genres-item {
    height: 18px;
    padding: 0 8px;
    box-sizing: border-box;
    font-size: 11px;
    line-height: 14px;
    background-color: var(--card-tag-bg);
    color: var(--card-tag-color);
    border-width: 1px;
    border-style: solid;
    border-color: var(--tag-color);
    border-radius: 12px;
  }
  &__row {
    display: flex;
    justify-content: space-between;
    margin-top: 4px;
  }
  &__length {
    margin: 0;
    color: var(--card-movie-length);
    font-size: 12px;
    line-height: 16px;
    font-weight: 400;
    text-align: right;
    align-self: center;
  }
  &__rating {
    font-family: inherit;
    margin: 0;
    padding: 0;
    font-size: 20px;
    line-height: 20px;
    font-weight: 600;

    &_bad {
      color: #edb5b5;
    }
    &_average {
      color: #d7d781;
    }
    &_good {
      color: #498a49;
    }
  }
  &__top {
    font-family: inherit;
    margin: 0;
    font-size: 14px;
    line-height: 14px;
    font-weight: 200;
    color: #cec99d;
  }
  &__controls {
    opacity: 0;
    display: flex;
    column-gap: 2px;
    justify-content: end;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    background-color: var(--card-bg);
    z-index: 10;
    transition: background-color .35s, opacity .35s, transform .35s;
  }
  &__viewed {
    width: 120px;
    height: 30px;
    background-color: transparent;
    border: none;
    font-size: 13px;
    line-height: 100%;
    font-weight: 500;
    cursor: pointer;
    margin: 0;
    padding: 0;
    text-align: left;
    color: var(--viewed-color);
    transition: color .4s;

    &:hover {
      color: var(--viewed-hover-color);
    }

    &_active {
      color: var(--viewed-hover-color);

      &:hover {
        color: var(--viewed-active-color);
      }
    }
  }
}

.film-item-mobile {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 228px;
  padding: 0 16px 8px 16px;
  border-radius: 8px;
  box-sizing: border-box;
  transition: background-color .3s;
  box-shadow: 0 0 31px -6px rgba(0, 0, 0, .5);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  z-index: 10;

  a {
    list-style: none;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100%;
  }

  &::before {
    content: '';
    z-index: 0;
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    border-radius: 7px;
    left: 0;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0) 20%, rgba(0, 0, 0, 0) 80%, rgba(0, 0, 0, 0.6) 100%);
  }

  &__bottom {
    position: absolute;
    bottom: 8px;
    left: 8px;
    z-index: 1;
    width: 100%;
    display: flex;
    flex-direction: column;

    .film-item__length {
      text-align: unset;
      width: fit-content;
      position: relative;
      right: 16px;
      bottom: 2px;
      padding: 2px;
      border-radius: 8px;
      align-self: end;
      background-color: var(--mobile-length-bg);
    }
  }
  &__image {
    width: 160px;
    height: 228px;
    border-radius: 8px;
    position: relative;
    left: -16px;
  }

  &__controls {
    opacity: 0;
    position: absolute;
    bottom: 0;
    right: -8px;
    display: flex;
    flex-direction: column;
    row-gap: 2px;
    padding: 4px;
    border-radius: 22px;
    border-width: 1px;
    border-style: solid;
    border-color: #d7d7d7;
    background-color: rgb(253 253 253 / 80%);
    transform: translateY(84px);
    transition: opacity .35s, transform .35s;

    &_active {
      opacity: .9;
      transform: translateY(-120px);
    }
  }

  &__viewed-btn {
    cursor: pointer;
    padding: 0;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    border: 1px solid #d7d7d7;
    background-color: #ffffff;
    z-index: 1;
    transition: box-shadow .6s;
    display: flex;
    justify-content: center;
    align-items: center;

    &_active {
      border-color: transparent;
    }
  }
  &__wish-btn {
    cursor: pointer;
    padding: 0;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    border: 1px solid #d7d7d7;
    background-color: #ffffff;
    z-index: 1;
    transition: box-shadow .6s;
    display: flex;
    justify-content: center;
    align-items: center;

    img svg path {
      fill: white;
    }

    &_active {
      border-color: transparent;
    }
  }
  &__fav-btn {
    cursor: pointer;
    padding: 0;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    border: 1px solid #d7d7d7;
    background-color: #ffffff;
    z-index: 1;
    transition: box-shadow .6s;
    display: flex;
    justify-content: center;
    align-items: center;

    img svg path {
      fill: white;
    }

    &_active {
      border-color: transparent;
    }
  }

  &__menu {
    cursor: pointer;
    position: absolute;
    bottom: -6px;
    right: -6px;
    padding: 0;
    width: 40px;
    height: 40px;
    box-sizing: border-box;
    border-radius: 50%;
    border: 1px solid #d2d2d2;
    background-color: #ffffff;
    z-index: 1;
    transition: box-shadow .6s;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 600px) {
  .film-items {
    grid-template-columns: repeat(2, 160px);
    gap: 24px 16px;
  }
  .film-item__heading {
    width: calc(100% + 32px);
    height: 300px;
  }
  .film-item__image {
    width: 100%;
  }
  .film-item__genres-list,
  .film-item__length {
    z-index: 1;
  }
  .film-item__length {
    font-size: 10px;
  }
  .film-item__fav-btn {
    width: 36px;
    height: 36px;
    right: -8px;
    bottom: -8px;

    img {
      width: 28px;
      height: 28px;
    }
  }
}