.search {
  margin-top: 40px;

  &__form {
    max-width: 520px;
    width: 100%;
    margin: 0 auto;
    position: relative;
  }
  &__input {
    width: 100%;
    margin: 0;
    padding: 12px 40px 12px 24px;
    height: 40px;
    border-radius: 20px;
    box-sizing: border-box;
    border: none;
    background-color: var(--search-bg);
    color: #c5c5c5;
    font-size: 20px;
    line-height: normal;
    font-weight: 500;
    transition: box-shadow .4s;
    outline: none;

    &:focus {
      box-shadow: var(--search-focus);
    }
  }
  &__submit-btn {
    position: absolute;
    top: 0;
    right: 0;
    border: none;
    cursor: pointer;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    padding: 0;
    background-image: url('../../assets/images/search-button-icon.svg');
    background-size: 26px 26px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    transition: box-shadow .25s;

    &:hover {
      box-shadow: var(--search-focus);
    }
  }
  &__reset-btn {
    margin: 0;
    padding: 0;
    cursor: pointer;
    position: absolute;
    top: 7px;
    left: -28px;
    background-color: transparent;
    border: none;
    width: 26px;
    height: 26px;
    background-image: url('../../assets/images/reset-button-icon.svg');
    background-size: 26px 26px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    transition: opacity .35s;
    opacity: 1;

    &:active {
      opacity: .7;
    }
    &:disabled {
      filter: grayscale(100%);
      opacity: 0;
    }
  }
}

@media (max-width: 600px) {
  .search__reset-btn {
    left: -8px;
  }
}