.filter {
  margin: 20px auto 0;
  display: flex;

  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
    gap: 4px 8px;
    display: flex;
    flex-wrap: wrap;
  }
  &__item {

    button {
      background-color: transparent;
      border-color:  #252525;
      border-radius: 27px;
      border-style: solid;
      border-width: 1px;
      color: var(--tag-color);
      cursor: pointer;
      font-size: 14px;
      font-weight: 500;
      line-height: 20px;
      padding: 2px 8px;
      transition: color .3s, border-color .3s;
    }

    &_active button {
      border-color: var(--tag-hover-color);
      color: var(--tag-hover-color);
    }
  }
  &__more-btn {
    padding: 0;
    background-color: transparent;
    border: none;
    outline: none;
    color: var(--tag-hover-color);
    cursor: pointer;
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
    align-self: flex-end;
  }
}

@media (max-width: 1600px) {
  .filter {
    max-width: 1136px;
  }
}
@media (hover: hover) {
  .filter__item {
     button:hover {
      border-color: var(--tag-hover-color);
      color: var(--tag-hover-color);
    }
  }
}