.modal {
  position: fixed;
  bottom: 16px;
  left: calc(50% - 14vw);
  max-width: 28vw;
  padding: 12px;
  width: 100%;
  border-radius: 12px;
  background-color: rgba(35, 37, 38, 0.9);
  box-shadow: 0 0 12px 1px rgba(0, 0, 0, .28);
  z-index: 999;
  transform: translateY(75px);
  animation-fill-mode: forwards;

  &_opened {
    animation: 5s modalOpen;
  }

  &__message {
    margin: 0;
    color: #ffffff;
    text-align: center;
    font-size:calc(12px + 6 * (100vw - 320px) / 880);
    line-height: 100%;
    font-weight: 500;

    &_success {
      color: #4f9b5f;
    }
    &_error {
      color: #ff7676;
    }
  }
}

@keyframes modalOpen {
  0% {
    transform: translateY(75px);
  }
  20% {
    transform: translateY(-10px);
  }
  80% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(80px);
  }
}

@media (max-width: 1600px) {
  .modal__message {
    font-size: 14px;
  }
}